@keyframes animslideshow {
	from { opacity: 0; }
	to { opacity: 1; }
}

@keyframes animslidehide {
	from { display: block;opacity: 1; }
	to { opacity: 0; }
}

@keyframes animpaused {
	from { transform: rotate(0deg); }
	to { transform: rotate(90deg); }
}

#slider {
padding: 0;
}

#slidershow {
padding: 0;
margin: 0;
}

.activeslide {
animation-name: animslideshow;
animation-duration: 0.5s;
margin: 0;
padding: 10px;
}

.activeslide h2 {
margin-top: 10px;
margin-left: 50px;
margin-bottom: 0;
font-weight: bold;
border: none !important;
}

.slidec {
margin-top: 10px;
margin-left: 75px;
margin-bottom: 0;
}

.noslide {
display: none;
animation-name: animslidehide;
animation-duration: 0.5s;
}

#slideprev, #slidepause, #slidenext {
position: relative;
top: -32px;
z-index: 2;
margin: 0;
}

.slidepaused img {
animation-name: animpaused;
animation-duration: 0.5s;
transform: rotate(90deg);
}

.slidebt {
	cursor: pointer;
}