[submodule "inclus/lib/phpmailer"]
	path = inclus/lib/phpmailer
	url = https://github.com/phpmailer/phpmailer
[submodule "inclus/lib/parsedown"]
	path = inclus/lib/parsedown
	url = https://github.com/erusev/parsedown
[submodule "inclus/lib/MastodonBotPHP"]
	path = inclus/lib/MastodonBotPHP
	url = https://github.com/Eleirbag89/MastodonBotPHP
[submodule "inclus/lib/twitteroauth"]
	path = inclus/lib/twitteroauth
	url = https://github.com/abraham/twitteroauth
